#set($layout =  "share/hi-layout.vm" )

<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/html5.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/respond.min.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/PIE_IE678.js"></script>

<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/lib1/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/lib1/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/resource/static/h-ui.admin/css/style.css" />

<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>


<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 统计管理 <span class="c-gray en">&gt;</span> 3d饼图 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="f-14 c-error" style="text-align: center">nginx日志访问浏览器访问占比情况</div>
    <div id="container" style="min-width:700px;height:400px"></div>
    <div>
        <div class="mt-20">
            <div class="dataTables_wrapper no-footer">
                <table class="table table-border table-bordered table-bg">
                    <thead>
                    <tr>
                        <th scope="col" colspan="9">浏览器访问详情列表</th>
                    </tr>
                    <tr class="text-c">

                        <th width="40">id</th>
                        <th width="40">浏览器</th>
                        <th width="200">访问数据</th>
                    #*<th width="150">登录名</th>*#
                        #*<th width="90">是否审批</th>
                        <th width="90">操作</th>*#
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($item in $ChartList)
                        <tr class="text-c">
                            <td>$!{item.id}</td>
                            <td>$!{item.PieKey}</td>
                            <td>$!{item.PieValue}</td>
                        #*<td>#foreach($role in $item.roles)
                            $!{role.name},
                        #end</td>*#
                        #*<td>$!date.format('yyyy-MM-dd HH:mm:ss',$item.createTime)</td>*#

                        </tr>
                        #end
                    </tbody>
                </table>
              #*  #pagination($ChartList,"/admin/index?1=1")*#
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/layer/2.1/layer.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/Highcharts/4.1.7/js/highcharts.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib1/Highcharts/4.1.7/js/modules/exporting.js"></script>
<script type="text/javascript">
    ﻿﻿$(function () {
        alert();
        jQuery.ajax({
            url: '$!{request.getContextPath()}/Charts/AjaxCharts1',
            data: 1,
            type: "post",
            success: function (data) {
               alert("成功");
               alert(data[0].pieKey);
                $('#container').highcharts({
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    title: {
                        text: 'Browser market shares at a specific website, 2018.1'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: [
                            [data[4].pieKey,   45.0],
                            [data[0].pieKey,       26],
                            {
                                name: data[3].pieKey,
                                y: 12.8,
                                sliced: true,
                                selected: true
                            },
                            [data[1].pieKey,    8.5],
                            [data[2].pieKey,     7],
                            ['Others',   0.7]
                        ]
                    }]
                });

            }
        });

       /* $('#container').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Browser market shares at a specific website, 2014'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
        });*/
    });
</script>