#set($layout =  "share/hi-layout.vm" )
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> chart <span class="c-gray en">&gt;</span> KIPIP <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 页面被独立ip点击数范围：

        <input type="text"  id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text"  id="datemax" class="input-text Wdate" style="width:120px;">
    #*<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="yhhhh" name="">*#

        <button type="submit" class="btn btn-success" id="" name="" onclick="querydatelist()"><i class="Hui-iconfont">&#xe665;</i> 搜ip地址</button>

    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="" class="btn btn-danger radius"> 批量删除</a>
            <a href="javascript:;" onclick="" class="btn btn-primary radius"> 数据处理</a>
        </span>
        <span class="r">共有数据：<strong>xxxx</strong> 条</span>
    </div>
    <div class="mt-20">
        <div class="dataTables_wrapper no-footer">
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="9">ip地址访问列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="440">访问的页面</th>
                    <th width="100">访问数</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($item in $memberlist.model)
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>$!{item.kpiip}</td>
                        <td>$!{item.num}</td>
                    </tr>
                    #end
                </tbody>
            </table>
             #*自己写按钮一样的 自己定义的*#
            #*#datelimit($memberlist,"/Charts/querydateList?1=1",$dateandlimit)*#

            #set($datemin=$dateandlimit.nummin)
            #set($datemax=$dateandlimit.nummax)

            #pagination($memberlist,"/Charts/querydateList?1=1&datemin=$datemin&datemax=$datemax")
        </div>
    </div>
</div>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.admin.js"></script>
<script type="text/javascript">
    /*根据时间来查询用户,以json的给谁传输 后台通过value去查找值*/
    function querydatelist() {
        /*var GLusername=document.getElementById("yhhhh").value;*/
        var datemin = document.getElementById("datemin").value;
        var datemax = document.getElementById("datemax").value;
        window.location.href="$!{request.getContextPath()}/Charts/querydateList?datemin="+datemin+"&datemax="+datemax;
        /*jQuery.ajax({
            url: '/admin/querydateList',
            data: {datemin:datemin,datemax:datemax,GLusername:GLusername},
            type: "post",
            success:function(date) {
                alert("dsds");
                location.href="/admin/index";

            }
        });*/
    }





    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */

</script>